<!DOCTYPE html>
<html>

<head>
  <title>Election221</title>
  <link rel="stylesheet" href="">
  <meta charset="utf-8">
</head>

<body>
  
  <div class=" row">
    <div class="container col-6 ml-6;" >

      <form class="well">
        <fieldset>
          <legend>Veuillez remplir ce formulaire d'inscription:</legend>

          <div class="form-group ">
            <label for="Email" class="form-label mt-4"><h6>Email</h6></label>
            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp"
              placeholder="alpha@email.com">

          </div>

          <div class="form-group">
            <label for="Prenom" class="form-label mt-4"><h6>Prenom</h6></label>
            <input type="text" class="form-control" id="Prenom" placeholder="Prenom">
          </div>
          <div class="form-group">
            <label for="Nom" class="form-label mt-4"><h6>Nom</h6></label>
            <input type="text" class="form-control" id="Nom" placeholder="Nom">
          </div>
          <div class="form-group">
            <label for="Date de naissance" class="form-label mt-4"><h6>Date de naissance</h6></label>
            <input type="date" class="form-control" id="Date de naissance" placeholder="Date de naissance">

          </div>

          <div class="form-group">
            <label for="Addresse" class="form-label mt-4"><h6>Addresse</h6></label>
            <input type="text" class="form-control" id="Addresse" placeholder="Addresse">
          </div>
          <div class="form-group">
            <label for="NumeroCNI" class="form-label mt-4"><H6>Numero CNI</H6></label>
            <input type="number" class="form-control" id="NumeroCNI" placeholder="Numero CNI">
          </div>
          <div class="form-group" class="form-label mt-4">
            <label for="Circonscription"><h6>Circonscription</h6></label>
            <select class="form-control" id="Circonscription">
              <option>Thies</option>
              <option>Dakar</option>
              <option>Louga</option>
              <option>Fatick</option>
              <option>Ziguinchor</option>
            </select>
          </div>
          <fieldset class="form-group">
            <h6>Sexe</h6> 
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                checked="">
              <label class="form-check-label" for="optionsRadios1">
                Masculin
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              <label class="form-check-label" for="optionsRadios2">
                feminin
              </label>
            </div>
            <div class="form-group">
              <label for="Prenom" class="form-label mt-4"><h6>Mot de passe </h6></label>
              <input type="password" class="form-control" id="password" placeholder="Prenom">
            </div>
            <div class="form-group">
              <label for="Prenom" class="form-label mt-4"><h6>Confirmer mot de passe </h6></label>
              <input type="password" class="form-control" id="Confirmpassword" placeholder="Prenom">
            </div>
            
            
          </fieldset>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container col-6 ">

      <a id="emoji" class="navbar-brand" href="#">
        <img src="../assets/image/12.jpg" style="width: 200px; height: 200px;margin-left: 300px;margin-top:100px ;"  alt=""
          class="rounded-pill">
      </a>

    </div>
  </div>
</body>

</html>