<mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile [colspan]="2">
        <form #form="ngForm" (ngSubmit)="new()" ngNativeValidate class="example-form">
            <mat-card>
                <mat-card-title class="text-center">
                    Formulaire de candidature
                </mat-card-title>
                <mat-card-content>
                    <mat-card-subtitle>Nouveau Electeur</mat-card-subtitle>
                    <div class="alert alert-danger" *ngIf="estCandidat=='Vous etes deja candidat'"> <strong>Vous etes
                            deja
                            candidat..</strong> </div>
                    <div class="alert alert-danger"
                        *ngIf="estCandidat=='Vous ne pouvez pas etre candidat car vous n etes pas electeur'">
                        <strong>Vous ne pouvez pas etre candidat car vous n'etes pas electeur..</strong> </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Prenom</mat-label>
                                    <input matInput #electeurPrenom="ngModel" [ngClass]="{'is-invalid': electeurPrenom.touched && electeurPrenom.
                                        invalid,'is-valid':electeurPrenom.touched && electeurPrenom.valid}"
                                        [required]="true" [(ngModel)]="electeur.prenom" type="text" name="prenom"
                                        id="montant" placeholder="Entrer votre prenom">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Nom</mat-label>
                                    <input matInput #electeurNom="ngModel" [ngClass]="{'is-invalid': electeurNom.touched && electeurNom.
                                        invalid,'is-valid':electeurNom.touched && electeurNom.valid}" [required]="true"
                                        [(ngModel)]="electeur.nom" type="text" name="nom" id="montant"
                                        placeholder="Entrer votre nom">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Carte d'identite national</mat-label>
                                    <input matInput #electeurCni="ngModel" [ngClass]="{'is-invalid': electeurCni.touched && electeurCni.
                                        invalid,'is-valid':electeurCni.touched && electeurCni.valid}" [required]="true"
                                        [(ngModel)]="electeur.cni" type="text" name="cni" id="cni"
                                        placeholder="Entrer votre cni">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="container">

                        <div class="row">

                            <div class="col-md">


                                <mat-form-field appearance="fill" class="example-form-field">
                                    <mat-label>Date de Naissance</mat-label>
                                    <input matInput [matDatepicker]="datepicker" #electeurDateNaiss="ngModel" [ngClass]="{'is-invalid': electeurDateNaiss.touched && electeurDateNaiss.
                                            invalid,'is-valid':electeurDateNaiss.touched && electeurDateNaiss.valid}"
                                        [required]="true" [(ngModel)]="electeur.dateNaiss" name="dateNaiss"
                                        id="description">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datepicker>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Annuler</button>
                                            <button mat-raised-button color="primary"
                                                matDatepickerApply>Appliquer</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>



                            </div>


                            <div class="col-md">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Addresse</mat-label>
                                    <input matInput #electeurAdresse="ngModel"
                                        [ngClass]="{'is-invalid': electeurAdresse.touched && electeurAdresse.
                                                                                                        invalid,'is-valid':electeurAdresse.touched && electeurAdresse.valid}"
                                        [required]="true" [(ngModel)]="electeur.adresse" type="text" name="adresse"
                                        id="adresse" placeholder="Entrer votre addresse">
                                </mat-form-field>
                            </div>
                            <div class="col-md">

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Region</mat-label>
                                    <mat-select #circonscriptionRegion="ngModel"
                                        [ngClass]="{'is-invalid': circonscriptionRegion.touched && circonscriptionRegion.
                                                    invalid,'is-valid':circonscriptionRegion.touched && circonscriptionRegion.valid}" [required]="true"
                                        [(ngModel)]="circonscription.region" required name="region">
                                        <mat-option disabled>Selectionner votre region</mat-option>
                                        <mat-option [value]="circonscription.region">{{circonscription.region}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Departement</mat-label>
                                    <mat-select #circonscriptionDepartement="ngModel"
                                        [ngClass]="{'is-invalid': circonscriptionDepartement.touched && circonscriptionDepartement.
                                                invalid,'is-valid':circonscriptionDepartement.touched && circonscriptionDepartement.valid}" [required]="true"
                                        [(ngModel)]="circonscription.departement" required name="departement">
                                        <mat-option disabled>Selectionner votre departement</mat-option>
                                        <mat-option [value]="circonscription.departement">
                                            {{circonscription.departement}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>

                            </div>
                            <div class="col-md">




                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Commune</mat-label>
                                    <mat-select #circonscriptionCommune="ngModel"
                                        [ngClass]="{'is-invalid': circonscriptionCommune.touched && circonscriptionCommune.
                                                                                                                                                invalid,'is-valid':circonscriptionCommune.touched && circonscriptionCommune.valid}"
                                        [required]="true" [(ngModel)]="circonscription.commune" required
                                        name="departement" id="commune">
                                        <mat-option disabled selected>Selectionner votre Commune</mat-option>
                                        <mat-option [value]="circonscription.commune">
                                            {{circonscription.commune}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>



                            </div>
                        </div>

                    </div>
                    <hr>

                    <div class="container">
                        <div class="row">

                            <div class="col-md">

                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Nom du parti</mat-label>
                                    <mat-select #electeurNomParti="ngModel"
                                        [ngClass]="{'is-invalid': electeurNomParti.touched && electeurNomParti.
                                                                            invalid,'is-valid':electeurNomParti.touched && electeurNomParti.valid}"
                                        [required]="true" [(ngModel)]="electeur.nomparti" required name="region">
                                        <mat-option disabled>Selectionner votre Parti</mat-option>
                                        <mat-option *ngFor="let np of nps" [value]="np">{{np}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Identification</mat-label>
                                    <input matInput #electeurIdentification="ngModel"
                                        [ngClass]="{'is-invalid': electeurIdentification.touched && electeurIdentification.
                                                                                        invalid,'is-valid':electeurIdentification.touched && electeurIdentification.valid}"
                                        [required]="true" [(ngModel)]="electeur.identification" type="text"
                                        name="electeurIdentification" id="electeurIdentification"
                                        placeholder="Entrer votre identification">
                                </mat-form-field>
                            </div>


                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="white">
                        <mat-spinner *ngIf="tourne" class="spinner" diameter="100"></mat-spinner>Candidater
                    </button>
                </mat-card-actions>

                <mat-card-footer></mat-card-footer>
            </mat-card>
        </form>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../assets/image/candidature.gif" class="d-block w-100" height="500px" alt="...">



    </mat-grid-tile>
</mat-grid-list>