<!DOCTYPE html>
<html>
  <head>
    <title>Election221</title>
    <link rel="stylesheet" href="">
    <meta charset="utf-8">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
          <font style="vertical-align: inherit;" >
            <font style="vertical-align: inherit;">Galsen Election 221</font>
          </font>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Basculer la navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              
              <a class="nav-link active" routerLink="/inscription-electeur">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Inscription Electeur</font>
                </font>
                <span class="visually-hidden">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">(courant)</font>
                  </font>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Verification Inscription </font>
                </font>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">À propos de</font>
                </font>
              </a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Visualisation Resultat
              </a>
              <div class="dropdown-menu " style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 42px, 0px);" data-popper-placement="bottom-start">
                <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Circonscription</font></font></a>
                <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Global</font></font></a>
                <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Graphique</font></font></a>
                <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Carte Interactive</font></font></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lien séparé</font></font></a>
              </div>
            </li>
            <div class="">
              <li class="nav-item ">
                <a class="nav-link" routerLink="/connexion">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">connexion </font>
                  </font>
                </a>
              </li>
            </div>
          </ul>
          
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>
    
  
  </body>
</html>
