<div class="container text-center">
  <div class="col">
    <button type="button" class="btn btn-primary" routerLink="/electeur-vote">Voter</button>
    <button type="button" class="btn btn-secondary" routerLink="/candidat-new">Postuler</button>
   
  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../assets/image/election1.png" class="d-block w-100" height="519px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/image/election2.jpg" class="d-block w-100" height="519px" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Un devoir est une obligation. <br> Un devoir civique s'impose à tous les citoyens. Et Voter en ait un .
          </h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/image/election3.jpg" class="d-block w-100" height="519px" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Tandal Sa candidat bi ga wolou thie karangué té boul ame dara loye tite.</h5>
          <p></p>
        </div>
      </div>
    </div>
  </div>


</div>